body {
  background-image: url(../image/fondo.png);
}

.navbar {
  background-color: #ffe782;
}

.formularioLogin {
    background-color: #ffe782;
    padding: 5px 10px 25px 10px;
    border-radius: 20px;
}

.divBtnLogin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    margin: auto;
    text-align: center;
}

.btnIniciarSesion{
    background-color: #db474c;
    border: none;
    color: white;
}

.btnRegistrate{
    background-color: #fff7d6;
}